body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.center-inner {
  display: inline-block;
}
.seat{
	width:48px;
}
.seatGaps {
	border-top:0px !important;
	border-bottom:0px !important;
	width:45px;
}
.seatGaps:hover {
	background-color: none;
}