<div class="row container-fluid">
	<div class="col-md-8">
		<seat-picker seats="firstClass" on-selecting="nodeSelected(node)"></seat-picker>
		<seat-picker seats="business" on-selecting="nodeSelected(node)"></seat-picker>
		<seat-picker seats="economy" on-selecting="nodeSelected(node)"></seat-picker>
	</div>
	<div class="col-md-4">
		<button 
			type="button" 
			class="btn btn-lg btn-default" 
			ng-show="selectedNode.price>0"
			ng-click="purchase()">
			PURCHASE
		</button>
		<h3 ng-if="selectedNode.price>0">
			${{selectedNode.price}}
		</h3>
		<p class="text-right">
			{{points}} pts
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills">
			<li class="active">
				<a href='#/'>SEAT UPGRADE</a>
			</li>
			<li>
				<a href='#/rent'>RENT A SEAT</a>
			</li>
			<li class="disabled">
				<a>DESTINATION</a>
			</li>
		</ul>
	</div>
</div>
