<div class="col-md-8">
	<img src='/images/seats.png'/>
</div>
<div class="col-md-4">
	<button type="button" class="btn btn-lg btn-default">
		RENT
	</button>
	<h3>
		$20
	</h3>
	<p class="text-right">
		{{points}} pts
	</p>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills">
			<li>
				<a href='#/'>SEAT UPGRADE</a>
			</li>
			<li class="active">
				<a href='#/rent'>RENT A SEAT</a>
			</li>
			<li class="disabled">
				<a>DESTINATION</a>
			</li>
		</ul>
	</div>
</div>