<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
		</div>
		<div class="col-md-4">
			 
			<button type="button" class="btn btn-lg btn-default">
				PURCHASE
			</button>
			<h3>
				$112
			</h3>
			<p class="text-right">
				12,500 pts
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills">
				<li class="active">
					<a href="#">SEAT UPGRADE</a>
				</li>
				<li>
					<a href="#">RENT A SEAT</a>
				</li>
				<li class="disabled">
					<a href="#">DESTINATION</a>
				</li>
			</ul>
		</div>
	</div>
</div>